.heading {
    padding: auto 20px auto 20px;
  }
  
  main {
    padding-top: 300px;
  }
  
  .heading {
    width: 90%;
    padding-left: 100px;
    font-size: 100px;
    font-weight: 0px;
  }
  
  .paragraph {
    padding-left: 500px;
    font-size: 30px;
    font-weight: 0px;
    color: #0ead55;
  }
  
  .rightimage {
    float: right;
    margin-top: -400px;
  }
  
  .vine-parent {
    overflow: hidden;
  }
  
  .vine {
    position: absolute;
    top: 20%;
    right: -0%;
    margin-top: -10%;
    max-height: 100%;
  }
  
  
  /* Media queries */
  @media screen and (max-width: 1200px) {
    .heading {
      font-size: 80px;
    }
  
    .paragraph {
      padding-left: 300px;
      font-size: 24px;
    }
  }
  
  @media screen and (max-width: 992px) {
    .heading {
      font-size: 60px;
    }
  
    .paragraph {
      padding-left: 200px;
      font-size: 20px;
    }
  }
  
  @media screen and (max-width: 768px) {
    /* .heading {
      font-size: 40px;
    }
  
    .paragraph {
      padding-left: 100px;
      font-size: 16px;
    }
  
    .rightimage {
      float: none;
      margin: 0 auto;
      display: block;
      max-width: 80%;
      margin-top: 20px;
    } */
    .rightimage, .vine, .heading img {
      display: none;
    }
    
    .heading {
      font-size: 50px;
      padding-left: 20px;
      text-align: center;
    }
    
    .paragraph {
      padding-left: 20px;
      font-size: 20px;
      text-align: center;
    }
  
    .vine {
      margin-left: 40%;
      margin-top: -30%;
    }
  }
  
  @media screen and (max-width: 576px) {
    .heading {
      font-size: 30px;
    }
  
    .paragraph {
      padding-left: 50px;
      font-size: 14px;
    }
  
    .rightimage {
      max-width: 100%;
    }
  
    .vine {
      margin-left: 30%;
      margin-top: -20%;
    }
  }
  
  /* card page */
  .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 85%;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin: 20px auto;
  }
  
  .card-img {
    flex-basis: 40%;
  }
  
  .card-img img {
    max-width: 40%;
    margin: 50px auto 10px auto;
    display: block;
    border-radius: 10px;
  }
  
  .card-info {
    flex-basis: 55%;
  }
  
  .card-info h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 768px) {
    .card {
      flex-direction: column;
      max-width: 90%;
    }
  
    .card-img {
      flex-basis: 100%;
    }
  
    .card-img img {
      margin: 0 auto 20px auto;
      max-width: 70%;
    }
  
    .card-info {
      flex-basis: 100%;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .checkmark {
    color: green;
    font-size: 24px;
    margin-right: 10px;
  }
  .explore-btn {
    display: block;
    margin: 0 auto 50px;
    padding: 10px 20px;
    background-color: #07ad30;
    color: #fff;  
    border: none;
    border-radius: 15px;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  .explore-btn:hover {
    background-color: #256337;
  }
  
  /* why us page */
  .whyus {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin: 20px auto;
  }
  